
<div class="jumbotron text-center">
    <h1 class="text-center">Welcometo the GameApp Page</h1>
    <p>These are the current favorite games</p>
    {{#each users }}
        <div class='entries'>
            <p class="font-weight-bold">Name: {{name}}</p>
            <p>User Name: {{name}}</p>
            <p>Forum Age: {{date}}</p>
            <!--<a href='/gameentries/editgame/{{id}}' class="btn btn-dark mb-3">Edit</a>
            
            <form method="POST" action="/{{id}}?_method=Delete">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>-->
        </div>
        <br>
    {{else}}
    {{/each}}
</div>